html{
  background-color: #9FADBD;
  box-sizing: border-box;
  color: #3B4856;
  font-size: 62.5%;
}
 h1 {
   font-size: 8em;
   text-align: center;
   margin: 2% auto;
 }
 h4{
   font-size: 3em;
   text-align: center;
   margin: 20px auto;
 }
 p{
   font-size: 2em;
   text-align: center;
   margin:0 auto;
 }
 img{
   height: 220px;
   margin-top: 25px;
 }
 button{
   background-color: #6B4A57;
   border-radius: 50%;
   border: 4px solid #3B4856;
   width: 200px;
   margin-bottom: 100px;
   padding: 10px;
   text-align: center;
   font-size: 2.25em;
 }
 .teamList{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
.team{
  background-color: #9F7B89;
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  justify-content: space-around;
}
.teamMember{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom:2%;
}
.fetching{
  margin-bottom: 50px;
  font-size: 2.5em;
  color:blue;
}
.error{
  font-size: 2.5em;
  color:red;
}

